.page-login {
  background: url('../images/page-login.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100%;
  &__content {
    margin: auto;
  }
}

.main__login_form {
  margin: 0 auto;
}

@import "../components/login-form";