.content {
  &__about {
    position: relative;
  }
  &__title {
    margin-top: 40px;
  }
  &__skill--margin {
    margin-bottom: 40px;
  }
}
.skills {
  &__title {
    font-size: 28px;
    font-weight: 500;
  }
}
.background {
  &__image {
    object-fit: cover;
    width: 100%;
  }
}

@import "common/contacts";