footer.footer
    .row
        .col.footer__column_left
            +menuMixin('menu', menu)
        .col.footer__column_right
            +socialLinks('socials', socials)
    .row
        .col.footer__column_left
            p Я веб-разработчик из Новосибирска, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .col.footer__column_right
            p &copy Владимир Астахов | создано с любовью в LoftSchool | 2016