-
    var menu = [
    {
        title: 'Мои работы',
        link: 'works.html'
    },
    {
        title: 'Блог',
        link: 'blog.html'
    },
    {
        title: 'Обо мне',
        link: 'about.html'
    },
    {
        title: 'Авторизация',
        link: 'login.html'
    }
    ]

    var socials = [
    {
        title: 'vk',
        link: 'https://vk.com/'
    },
    {
        title: 'gh',
        link: 'https://github.com/'
    },
    {
        title: 'in',
        link: 'https://linkedin.com/'
    }
    ]

    var skills = [
    {
        name: 'HTML5',
        percent: 90
    },
    {
        name: 'CSS3',
        percent: 80
    },
    {
        name: 'JavaScript & jQuery',
        percent: 80
    },
    {
        name: 'PHP',
        percent: 45
    },
    {
        name: 'mySQL',
        percent: 55
    },
    {
        name: 'Node.js & npm',
        percent: 40
    },
    {
        name: 'Mongo.db',
        percent: 60
    },
    {
        name: 'Git',
        percent: 80
    },
    {
        name: 'Gulp',
        percent: 70
    },
    {
        name: 'Bower',
        percent: 65
    }
    ]

    var contacts = [
    {
        type: 'sk',
        value: 'skype_kdn'
    },
    {
    type: 'em',
    value: 'astahov@gmail.com'
    },
    {
    type: 'ph',
    value: '+7 931 200 93 24'
    },
    {
    type: 'ad',
    value: 'г.Новосибирск, ул. Инская, д. 5'
    }
    ]