-
    var menu = [
    {
        title: 'Мои работы',
        link: 'works.html'
    },
    {
        title: 'Блог',
        link: 'blog.html'
    },
    {
        title: 'Обо мне',
        link: 'about.html'
    },
    {
        title: 'Авторизация',
        link: 'welcome.html'
    }
    ]

    var socials = [
    {
        title: 'vk',
        link: 'https://vk.com/'
    },
    {
        title: 'gh',
        link: 'https://github.com/'
    },
    {
        title: 'in',
        link: 'https://linkedin.com/'
    }
    ]
