.contacts-form.reviews-section__contacts_form
    .title.title__subtitle Связаться со мной
    .contacts-form__fields
        input.contacts-form__input.contacts-form__input--name(placeholder="Имя")
        input.contacts-form__input.contacts-form__input--email(placeholder="Email")
        textarea.contacts-form__textarea(placeholder="Ваше сообщение")
    .contacts-form__buttons
        button.contacts-form__button.contacts-form__button--submit Отправить
        button.contacts-form__button.contacts-form__button--clear Очистить