section.hero
    .hero__row
        +socialLinks(socials, '', false)
        .hamburger-menu
            .hamburger-menu__icon
            .hamburger-menu__menu
                +menuMixin('menu', menu)
    .developer
        img.developer__image(src="assets/images/hero.png" alt="Владимир Астахов")
        .developer__name Владимир Астахов
        .developer__info Личный сайт веб-разработчика
        //+svgBackground('assets/images/portfolio_header.svg#Layer_1')
    a.arrow-down(href="#")
    include triangles
