.reviews
    +review(
    'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!',
    {src: 'assets/images/kd.png', alt: 'Ковальчук Дмитрий'},
    {name: 'Ковальчук Дмитрий', occupation: 'основатель Loftschool'}
    )
    +review(
    'Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!',
    {src: 'assets/images/sv.png', alt: 'Сабанцев Владимир'},
    {name: 'Сабанцев Владимир', occupation: 'преподаватель'}
    )