.skills
    .skills__row
        +skillsBlock('Frontend', [skills[0], skills[1], skills[2]], 'skills')
    .skills__row
        +skillsBlock('Backend', [skills[3], skills[4], skills[5], skills[6]], 'skills')
    .skills__row
        +skillsBlock('WorkFlow', [skills[7], skills[8], skills[9]], 'skills')