.slider
    .slider__info
        .slider__title.title.title__subtitle Сайт школы онлайн Образования
        .slider__skills HTML , CSS, JAVASCRIPT
        .slider__link
            a.slider__button_link(href="#") Посмотреть сайт
    .slider__slides
        .slider__image
            img(src="assets/images/portfolio-current.png" alt="Работа 1")
        .slider__navigation
            .slider__nav.slider__nav_arrow--down
                .slider__nav_image
                    img(src="assets/images/portfolio-down.jpg" alt="Работа 2")
                .slider__nav_arrow.slider__nav_arrow--down
            .slider__nav.slider__nav--up
                .slider__nav_image
                    img(src="assets/images/portfolio-down.jpg" alt="Работа 3")
                .slider__nav_arrow.slider__nav_arrow--up