.triangles
    svg.rectangle(viewBox="0 0 100 100" preserveAspectRatio="none")
        polygon.triangle__left(points="0 0, 0 100, 50 100")
        polygon.triangle__right(points="100 0, 100 100, 50 100")