* {
  box-sizing: border-box;
}
body {
  font: 16px/24px Roboto;
}
p {
  margin: 0;
}
a {
  color: #6da3bd;
  font-weight: 600;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}
ul {
  margin: 0;
  padding: 0;
}
hr {
  border-color: rgba(#ffffff, 0.1);
  border-width: 1px 0 0 0;
}
label {
  opacity: 0.8;
  color: #455a64;
}
.text {
  &__text--white {
    color: #fff;
  }
}
.title {
  color: #455a64;
  font-family: "BERNIER Regular";

  &__title--lines:before, &__title--lines:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 5px;
    background-color: #373e42;
    opacity: 0.2;
  }
  &__title--lines:before {
    margin-right: 20px;
  }
  &__title--lines:after {
    margin-left: 20px;
  }
}