.footer {
  background-color: rgba(#373e42, 0.85);
  font-weight: 300;

  &__column_left {
    width: 50%;
  }
  &__column_right {
    width: 50%;
    text-align: right;
  }
  &__text--semitransparent {
    color: #fff;
    opacity: 0.5;
  }
  &__row {
    padding: 16px 30px;
  }
}