.work-slider {
  &__nav {
    position: relative;
  }
  &__nav_arrow {
    position: absolute;
    width: 49px;
    height: 34px;
    left: calc(50% - 24.5px);
    top: calc(50% - 17px);
  }
  &__nav_arrow--up {
    background: url('../images/portf-arrow-up.png') no-repeat;
  }
  &__nav_arrow--down {
    background: url('../images/portf-arrow-down.png') no-repeat;
  }
}