.login-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
  border-radius: 5px;
  background-color: rgba(#fcfcfc, 0.85);
  padding: 33px 0 0;
  width: 380px;
  height: 406px;

  @include phones {
    width: 95%;
  }

  &__input_block {
    display: flex;
    margin-bottom: 20px;
  }
  &__input {
    border-radius: 0 4px 4px 0;
    background-color: #ffffff;
    border: 0;
    color: #373e42;
    font-family: Roboto;
    font-size: 16px;
    line-height: 45px;
    padding: 0 18px;
    width: 295px;
    @include phones {
      max-width: 200px;
    }
  }
  &__icon {
    background-color: #f0efe9;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 4px 0 0 4px;
  }
  &__checkbox {
    display: none;
  }
  &__label {
    cursor: pointer;
    position: relative;
  }
  &__label--checkbox:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background-color: #00bfa5;
    vertical-align: middle;
    margin-right: 10px;
    color: #fff;
  }
  &__checkbox:checked + &__label--checkbox:before {
    background: url('../images/check.svg') no-repeat center #00bfa5;
    color: #fff;
  }
  &__question {
    color: #455a64;
    opacity: 0.8;
    font-weight: 700;
    margin-bottom: 0;
  }
  &__radio_button {
    display: none;
  }
  &__label--radio:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    vertical-align: middle;
    margin-right: 10px;
  }
  &__radio_button:checked + &__label--radio:after {
    content: '';
    display: inline-block;
    background-color: #00bfa5;
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 50%;
    top: 7px;
    left: 7px;
    z-index: 2;
  }
  &__radiobox {
    display: flex;
  }
  &__radio {
    margin: 0 20px;
  }
  &__buttons {
    display: flex;
    width: 100%;
  }
  &__button {
    background-color: #00bfa5;
    width: 50%;
    height: 45px;
    font-weight: 500;
    line-height: 45px;
    color: #ffffff;
    display: block;
    text-decoration: none;
    text-align: center;

    &:first-child {
      border-radius: 0 0 0 5px;
    }
    &:last-child {
      border-radius: 0 0 5px 0;
    }
  }
  &__button:hover {
    background-color: #009688;
  }
}