.menu {
  &__list {
    list-style: none;
    @include tablets {
      text-align: center;
    }
  }
  &__item {
    margin-right: 41px;
    display: inline-block;
    @include phones {
      margin-right: 10px;
    }
  }
  &__link {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    @include phones {
      font-size: 13px;
    }
  }
  &__link:hover {
    color: #00bfa5;
  }
}