extends ../_template

block variables
    -
        var title = 'About page'
        var pageClass = 'page-about'

block content
    main.main
        include ../common/hero
        section.content.content__about
            .content__left
                .title Обо мне
                .content__photo
                    img.content__photo_img(src="assets/images/about-photo.jpg" alt="Владимир Астахов")
                .content__info
                    .title.title__subtitle Кто я
                    .content__text
                        p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .content__right
                .title.title__subtitle
                    | Чем я могу быть<br>
                    | вам полезен
                .content__text
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                include ../common/skills
        section.map
            .map__wrapper
                +backgroundImage('assets/images/map.jpg', 'Карта')
                .contacts-block
                    .title.title__subtitle Контакты
                    +contactsList(contacts, 'contacts-list')
block footer
    include ../common/_footer