extends ../_template

block variables
    -
        var title = 'Blog page'
        var pageClass = 'page-blog'

block content
    main.main
        include ../common/hero
        section.content
            include ../common/blog

block footer
    include ../common/_footer