extends ../_template

block variables
    -
        var title = 'Login page'
        var pageClass = 'page-login'

block content
    +loginForm
    .copyright.copyright__block--margin_top
        p.text__text--white © Владимир Астахов | создано с любовью в LoftSchool | 2016