extends ../_template

block variables
    -
        var title = 'Login page'
        var pageClass = 'page-login'

block content
    .container
        .container_center_center
            +loginForm
            p © Владимир Астахов | создано с любовью в LoftSchool | 2016