//extends ../_template
//
//block variables
//    -
//        var title = 'Login page'
//        var pageClass = 'page-login'
//
//block content
//    main.main.page-login__content
.login-form.main__login_form
    .title.title__subtitle Авторизуйтесь
    .login-form__input_block
        .login-form__icon.icon.icon-login
        input.login-form__input#login(placeholder="Логин" type="text")
    .login-form__input_block
        .login-form__icon.icon.icon-password
        input.login-form__input#password(placeholder="Пароль" type="password")
    .login-form__check
        input.login-form__checkbox#checkbox(type="checkbox")
        label.login-form__label.login-form__label--checkbox(for="checkbox") Я человек
    p.login-form__question Вы точно не робот?
    .login-form__radiobox
        .login-form__radio
            input.login-form__radio_button#radio1(type="radio" name="radio")
            label.login-form__label.login-form__label--radio(for="radio1") Да
        .login-form__radio
            input.login-form__radio_button#radio2(type="radio" name="radio")
            label.login-form__label.login-form__label--radio(for="radio2") Не уверен
    .login-form__buttons
        a.login-form__button(href="/") На главную
        a.login-form__button.login-form__button--submit(href="#") Войти

//block footer
//    footer.footer
//        .copyright © Владимир Астахов | создано с любовью в LoftSchool | 2016