extends ../_template

block variables
    -
        var title = 'Portfolio page'
        var pageClass = 'page-works'

block content
    main.main
        include ../common/hero
        section.content
            .title Мои работы
            include ../common/slider
        section.reviews-section
            .title
                | Что обо мне <br>
                | говорят
            include ../common/reviews
            include ../common/contacts-form
            a.arrow-up(href="#")

block footer
    include ../common/_footer